.container-one{
    margin: 0 auto;
    max-width: 1280px;
}
.one-body {
  display: flex;
  align-items: center;
  height: calc(100vh-72px);
  margin-top: 40px !important;
}
.one-body h1{
    font-weight: 800;
    font-size: 108px;
    line-height: 102px;
}
.content-text>p{
    font-weight: 600;
    color:var(--grey);
    margin-top: 36px;
}
.content-buttons {
  display: flex;
  gap:40px;
  margin-top: 36px;

}
.content-buttons .red-btn{
    all: unset;
    width: 150px;
    height: 41px;
    background: var(--red);
    color: #ffffff;
    padding: 6px 16px;
    font-weight: 400;
    text-align: center;
}
.content-buttons .white-btn{
    all: unset;
    border: 1px solid grey;
    width: 150px;
    height: 41px;
    background: transparent;
    color: var(--grey);
    padding: 6px 16px;
    font-weight: 400;
    text-align: center;
}
.online-platforms p{
    margin-top: 36px;
    font-size: 16px;

}
.online-brands-logo {
  display: flex;
  gap:16px;
  margin-top: 16px;
}
